第一章 MySQL体系结构和存储引擎

MySQL是一个单进程多线程架构的数据库.在系统中表现为一个进程


MySQL 存储引擎:
    InnoDB:
        支持事务, 设计目标主要面向在线事务处理的应用.为默认的MySQL存储引擎.
        将数据放在一个逻辑的表空间中.
        默认为repeatable隔离级别. 同时用next-key locking的策略来避免幻读现象.
        表的存储都是按着主键顺序进行存放, 如果没有显式的指定主键, innoDB会为每一行生成一个6字节的主键.
    NDB: 键值数据库存储引擎,内存数据库引擎但join操作由于不能再存储引擎层完成, 导致连接操作网络开销太大.性能不好.
    MyISAM:
        不支持事务, 表锁设计, 支持全文索引,缓存只缓存索引文件而不缓冲数据.
    Memory:
        将表中的数据存放在内存中, 适合存放历史数据的临时表,默认用哈希索引.并发性能较差
    数据库数据多了后性能有非线性下降(下降有限)

第二章 INNODB 存储引擎:
由很多后台线程+存储引擎内存池+文件(硬盘)构成

后台线程主要作用就是刷新内存池中的数据, 保证缓冲池中的内存是最近的数据, 此外将已修改的数据刷新到磁盘上, 然后保证在数据库发生异常的情况下innodb能恢复正常

后台线程分类:
    Master Thread: 负责将缓冲池中的数据异步刷新到磁盘, 保证数据的一致性.
    IO Thread: Innodb 大量使用了AIO来处理IO请求. IO Thread 负责这些IO请求的毁掉. 
    Purge Thread: 当事物被提交后, 用来回收undo页.
    Page Cleaner Thread: 将之前版本中的脏页的刷新操作放到单独的线程中.
    什么是脏页: 存中的数据没有刷新到非易失存储设备上，包括但不限于更新、插入和删除等操作都会产生脏数据(就是缓存中的页和瓷盘中的页不一致)
    
内存:
    缓冲池, 通过内存的读取速度来弥补磁盘速度较慢对数据库性能的影响.
    在数据库中读取页的操作, 首先将磁盘读取到的数据存放在缓冲池中, 下一次再次读取的时候, 优先查找缓冲池.
    对数据库页的修改则首先修改缓冲池中的页, 然后以一定频率刷新到磁盘上.页从缓冲池刷新回磁盘的操作不是每次更改时都触发的, checkpoint机制.
    缓冲池可以人为设定大小
    缓冲池中有索引页, 数据页, undo页,插入缓冲, 自适应哈希索引,innodb存储的锁信息等.

    新版本innodb支持多个缓冲池实例(可以人为设置), 页根据哈希值分配到不同的实例中.因此减少数据库内部的资源竞争, 增加数据库的并发处理.

    缓冲池的内存管理:
            一般数据库用LRU lastest recent used, 最近最少使用算法. 最近频繁使用的页在lru的前端, 不使用的在尾端, 缓冲池满了后, 首先释放尾端页.当释放尾端页时, 如果是脏页则强制执行checkpoint,刷新磁盘.
            INNODB 对LRU做了一些优化, 在LRU列表中加入了midpoint位置(叫这么个名字, 实际上不一定是中间, 可以设置), 新读取到的页放在midpoint位置.在midpoint之前的叫new列表, 之后叫old列表.可以设置参数来决定什么时候把新读取的页加入NEW列表中.
            在刚启动数据库时, LRU列表为空, 这时页都放在Free列表中, 线程读取页后, 从free列表中移到LRU列表中.
        为什么要这么玩?
            因为直接将读取到的页放在LRU首部的话, 万一这些页仅仅在一次查询操作中被需要,而且这次查询又需要读取大量的页,导致整个列表被刷新. 这会降低效率.
            
CheckPoint技术:
    两种checkpoint
    Sharp Checkpoint和Fuzzy Checkpoint
    sharp Checkpoint 发生在数据库关闭时将所有脏页都刷新回磁盘, 默认.
    Fuzzy Checkpoint 只刷新一部分脏页, 减小平时运行开销.
        下面又分好多, Master Thread cp, Flush_LRU_cp, dirty page too much cp之类的
    page cleaner trhead 里面维护了两个参数, async_water mark 和sync_water mark
    checkpoint<aw时不需要回收脏页
    aw<cp<sw时异步回收脏页, 直到cp<aw
    cp>sw后出发同步回收, 直到aw<cp<sw
    sync flush checkpoint会阻塞所有用户的查询线程. asyncflush checkpoint会阻塞发现问题的用户查询之前, 现在都不会了, 因为有page cleaner thread

Master Thread工作方式:
    最高的线程优先级别
    每秒一次的操作:
        日志缓冲刷新到磁盘, 即使事物还没有提交(只有这个是总是,其余都是可能)
        和彬长如缓冲
        刷新缓冲池的脏页到磁盘
        当前没有用户活动就切换到background loop
        
INNODB 关键特性!:
    插入缓存, 两次写, 自适应哈希索引, 异步io, 刷新邻接页.
    插入缓存:(非唯一辅助索引的插入操作, 提高性能)
        B+树,对非聚集索引(非主键)的插入和更新操作. 不是每一次都直接插入到索引页中, 而是先判断插入的非聚集索引页是否在缓存吃中,如果在则直接插入, 不在, 则先放入一个inser buffer 对象中. 之后以一定频率和情况进行Insert buffer 和辅助索引页的合并操作. 这是通常能将多个插入合并到一个操作中, 提高性能. 
        但这么玩必须满足两个条件, 索引是辅助索引, 索引不是唯一的. 
        
    两次写:(提高可靠性,避免部分写失效)
        提高可靠性.在应用重做日志前, 需要一个页的副本, 当写入失效发生时, 先通过页的副本来还原该页, 再进行重做.
        
    自适应哈希索引:
        是一种很快的查找方法, 一般时间复杂度为O(1). 这个索引, 是由缓冲池的B+树页构造而来, 建立速度很快, 不需要对整张表构建哈希索引. INNODB自动根据访问频率和模式简历哈希索引.仅适用于搜索等值得查询, 无法范围查找.
    异步IO:
        可以合并多个IO操作. 比如访问连续的空间的话, 直接返回这个完整的连续空间.
    刷新邻接页:
        当刷新一个脏页时, innodb会检测该页所在区的所有页, 如果是脏页, 则一起刷新. 使得用AIO来代替多个IO操作. 适用于机械硬盘.

第五章 索引与算法

B+树索引, 全文索引, 哈希索引!

哈希索引是自适应的, 无法人为干预是否在一张表中生成哈希索引
B+树索引就是传统的索引, B+树索引并不能找到具体行, 能找到的只是被查找数据行所在的页.然后内存中查找目标数据

B+树索引:
    B+树的具体实现:203页
    拆分和旋转
    
    B+树索引可以分为聚集索引和辅助索引, 聚集索引与辅助索引不同的是, 聚集索引叶子节点存放的时候是一整行的信息, 辅助索引只有关键信息.
    
    聚集索引:
        聚集索引就是按着每张表的主键构造一棵B+树, 同时叶子节点中存放的即为整张表的行记录数据.每张表只能拥有一个聚集索引. 
        聚集索引的存储并不是物理上连续的, 而是逻辑上连续的.
    辅助索引:
        辅助索引的叶子节点并不报案行记录的全部数据.叶子节点除了包含键值以外, 每个叶子节点中的索引行中还包含一个书签. 用来告诉innodb哪里可以找到与索引相对应的行数据. 在innodb中, 辅助索引的书签存储的是相应行数据的聚集索引键.
    B+树索引适用于高选择性的字段(取值范围广,重复低).就是cardinality值. 如果cardinality/row#约等于1 建立索引是有意义的. 
    cardinality 是通过采样的方法完成的.不可能每次更新数据库都重新计算这个.
        当表中1/16的数据已经发生过变化
        "查找"次数>2e9后
        取随机八个叶子节点, 统计每个页不同记录个数平均数/叶子节点数.
B+树索引的使用:
    需要看看第一章. 当需要取得数据库中的少部分数据时, 建立B+树索引才有意义.
    p215
    
联合索引:
    对表上的多个列进行索引.创建方法与单个索引的创建方法一样. 联合索引可以避免查询时的排序操作. 对联合索引的第一个键来说, 用起来跟单个索引没什么不同. 但对于第一个键之后的键来说就不是了.

覆盖索引:
    从辅助索引中就可以得到查询的记录, 而不是指向聚集索引中的记录.好处是, 因为辅助索引不包含整行记录的所有信息, 大小远小于聚集索引, 显著减小IO操作.
    还有就是对统计问题有好处, 直接统计某列数量比较容易.
    
Hash算法:
    innodb 使用链接法解决哈希表碰撞问题.

自适应哈希索引:
    用哈希表实现, DBA无法对其进行干预.对KV查找非常快, 但对范围查找无力.
    只能用于等值搜索.

全文检索:
    倒排索引:
    用辅助表的{单词, 所在文档ID}6714学过
    有一个红黑树结构的全文检索索引缓存, 每次插入新的值时不改, 检索时先检查上次检索后是否插入了值, 如果插入了新的值, 再更新红黑树.

第六章: 锁

锁的类型:
    两种标准的行级锁: 共享锁(读锁)和排它锁(写锁).
    innodb允许事务在行上的锁和在表上的锁同时存在. 要想对细颗粒度数据上锁, 必须先对粗颗粒度单位上锁. 这种锁叫意向锁.
    意向共享锁和意向排它锁: 意向锁不会阻挡除了全表扫描外的其他请求.

一致性非锁定读:
    当一个事务扫描表时, 当读取到某个被排它锁锁定的行后(update 或者delete), 事务不需要等待行上锁的释放, 而是会读取一个行的快照数据,该操作通过undo段来完成, 没有额外开销, 提高并发性.
    在read commited 下, 对于快找数据, 一致性非锁定读总是读取被锁定行的最新一份快照数据, 而reapeatable read下, 对于快照读取, 非一致性读总是读取事务开始时的行数据.
    
一致性锁定读:
    就是在一个事物对行加共享锁后, 其他事务可以向被锁定行加共享锁, 但不可以加X锁.

锁的算法:
    record lock: 单个行记录上的锁
    gap lock:间隙锁, 锁定一个范围, 但不包含记录本身
    next-key lock:gap lock+ record lock 锁定一个范围, 并且锁定记录本身.
    innodb 采用的是next-key 算法. 用于解决幻读问题.(同一事务下,连续执行两次同样的sql语句导致不同结果,违反隔离性)
    当查询的索引有唯一属性时, next key lock 降级为record lock.

锁问题:
    脏读: 事务对缓冲池中的行记录的修改, 还没有提交, 这时被另一个事务读取.可能会发生在read uncommitted(未授权读取)中
        或者说, 在不同事物下, 当前事务可以读到另外事务未提交的数据(读到脏数据).
    不可重复读:在一个事务内两次相同条件的读取读到的数据不一样.(在mysql里面叫幻读),可以用next key lock 来锁定一个范围, 这样这个范围内的插入式不允许的, 避免幻读.
        发生在read committed(授权读取中)
    丢失更新:一个事物的更新操作会被另一个事物的更新操作覆盖,因此导致数据不一致.(任何数据库基本不会涉及这个.)但在生产中可能会发生u1,u2远程登录数据库修改数据, u2覆盖掉了u1的数据操作.
    为了避免更新丢失, 需要串行化.

阻塞:
    
死锁:
    两个进程相互争夺资源. 最简单的解决方法就是超时.
    innodb 用等待图来解决这个问题.(wait for graph)
    等待图:
        等待图保存着锁的信息链表和事务的等代链表
        图中出现回路则证明有死锁.
    等待图检测是一种主动检测死锁的玩法. 一般用非递归深度优先算法.

CREATE TABLE `Student`(
    `s_id` VARCHAR(20),
    `s_name` VARCHAR(20) NOT NULL DEFAULT '',
    `s_birth` VARCHAR(20) NOT NULL DEFAULT '',
    `s_sex` VARCHAR(10) NOT NULL DEFAULT '',
    PRIMARY KEY(`s_id`)
);
student(sid,sname,sbirth,ssex);
course(cid,cname,tid);
teacher(tid,tname);
score(sid,cid,sscore);

insert into Student values('01' , 'zl' , '1990-01-01' , 'm');
insert into Student values('02' , 'qd' , '1990-12-21' , 'm');
insert into Student values('03' , 'sf' , '1990-05-20' , 'm');
insert into Student values('04' , 'ly' , '1990-08-06' , 'm');
insert into Student values('05' , 'zm' , '1991-12-01' , 'f');
insert into Student values('06' , 'wl' , '1992-03-01' , 'f');
insert into Student values('07' , 'zz' , '1989-07-01' , 'f');
insert into Student values('08' , 'wj' , '1990-01-20' , 'f');

--------------------- 
作者：启明星的指引 
来源：CSDN 
原文：https://blog.csdn.net/fashion2014/article/details/78826299 
版权声明：本文为博主原创文章，转载请附上博文链接！

insert into Course values('01' , 'Chinese' , '02');
insert into Course values('02' , 'Math' , '01');
insert into Course values('03' , 'English' , '03');

insert into Teacher values('01' , 'z3');
insert into Teacher values('02' , 'l4');
insert into Teacher values('03' , 'w5');


insert into Score values('01' , '01' , 80);
insert into Score values('01' , '02' , 90);
insert into Score values('01' , '03' , 99);
insert into Score values('02' , '01' , 70);
insert into Score values('02' , '02' , 60);
insert into Score values('02' , '03' , 80);
insert into Score values('03' , '01' , 80);
insert into Score values('03' , '02' , 80);
insert into Score values('03' , '03' , 80);
insert into Score values('04' , '01' , 50);
insert into Score values('04' , '02' , 30);
insert into Score values('04' , '03' , 20);
insert into Score values('05' , '01' , 76);
insert into Score values('05' , '02' , 87);
insert into Score values('06' , '01' , 31);
insert into Score values('06' , '03' , 34);
insert into Score values('07' , '02' , 89);
insert into Score values('07' , '03' , 98);

--------------------- 
作者：启明星的指引 
来源：CSDN 
原文：https://blog.csdn.net/fashion2014/article/details/78826299 
版权声明：本文为博主原创文章，转载请附上博文链接！

https://blog.csdn.net/fashion2014/article/details/78826299

student(sid,sname,sbirth,ssex);
course(cid,cname,tid);
teacher(tid,tname);
score(sid,cid,sscore);

1.    
select a.sname,b.sscore as 01s,c.sscore as 02s from student a
join score b on a.sid=b.sid and b.cid='01'
left join score c on a.sid=c.sid and c.cid='02'
where b.sscore>c.sscore;
2.
select a.*, b.sscore as 01s, c.sscore as 02s from 
student a
join score b on a.sid=b.sid and b.cid='01'
left join score c on a.sid=c.sid and c.cid='02'
where b.sscore<c.sscore;
3.
select b.*, AVG(a.sscore) as avg_score from student b
join score a on b.sid=a.sid
group by b.sid,b.sname 
having AVG(a.sscore)>=60;
3.
select a.sid as sid,a.sname as sname, AVG(b.sscore) from student a
join score b on a.sid=b.sid
group by a.sid
having avg(b.sscore)>=60;
4.
select a.sid as sid,a.sname as sname, round(avg(b.sscore),2) as avg from student a
join score b on a.sid=b.sid
group by a.sid
having round(avg(b.sscore),2)<60
union
select a.sid as sid, a.sname as name,0 as avg from student a
where a.sid not in (select distinct sid from score);
5.
select a.sid as sid, a.sname as sname, count(b.cid) as numc, sum(b.sscore) as sumsc from student a
left join score b on a.sid=b.sid
group by a.sid,a.sname;

select a.sid,a.sname, count(b.cid),sum(b.sscore) from student a
left join score b on a.sid=b.sid
group by a.sid;
6.
select count(tid)from teacher where tname like 'l%';

7. 
discover tid
select tid from teacher where tname='z3';
discover course
select cid from course where cid in (select tid from teacher where tname='z3');
discover student
select a.* from student a 
join score b on a.sid=b.sid and b.cid=(select cid from course where cid in (select tid from teacher where tname='z3'));

select a.* from student a
join score b on a.sid=b.sid where b.cid in (
    select cid from course where tid=(
        select tid from  teacher where tname='z3'
    )
);

select a.* from student a
join score b on a.sid=b.sid and b.cid in (
    select cid from course where tid=(
        select tid from teacher where tname='z3'
    )
);

8.
select e.* from student e where e.sid not in (
    select a.sid from student a
    join score b on a.sid=b.sid and b.cid in (
        select cid from course where tid=(
            select tid from teacher where tname='z3'
        )
    )
);
9.
select a.* from student a, score b,score c where a.sid=b.sid and a.sid=c.sid and b.cid='01' and c.cid='02';
10.
select a.* from student a, score b where a.sid=b.sid and b.cid='01' and a.sid not in (select sid from score where cid='02');
11
select a.* from student a
join score b on a.sid=b.sid
group by a.sid
having count(a.sid)<3;

student(sid,sname,sbirth,ssex);
course(cid,cname,tid);
teacher(tid,tname);
score(sid,cid,sscore);

30.
select a.sname,a.ssex,count(*) from student a
join student b on a.sid!=b.sid and a.sname=b.sname and a.ssex=b.ssex
group by a.sname;
29.
select * from student where sname like '%f%';
28.
select ssex, count(ssex) from student group by ssex;

27.
select * from student where sid in (select sid from score group by sid having count(sid)=2);
26.
select cid, count(cid) from score group by cid;

17.
select a.sid,(select b.sscore from score b where b.sid=a.sid and cid='01') as Chinese, round(avg(sscore),2) as avg from score a group by a.sid order by avg DESC;

16.

select a.*,b.sscore from student a
join score b on a.sid=b.sid and b.cid='01' and b.sscore<60
order by b.sscore DESC;


select a.*, b.sscore from student a, score b where a.sid=b.sid and b.cid='01' and b.sscore<60 order by b.sscore DESC;

找到大于60的sid
select sid from score where sscore<60 and cid='01';

15.
select a.sid, a.sname,avg(b.sscore) from student a
join score b on a.sid=b.sid where a.sid in (select sid from score where sscore<60 group by sid having count(sid)>=2) group by a.sid;
找到两门课不及格的同学学号
select sid from score where sscore<60 group by sid having count(sid)>=2;

14.

select a.* from student a where a.sid not in (
    select sid from score where cid=(
    select cid from course where tid=(
    select tid from teacher where tname='z3') 
    group by sid)
);
排除掉之前的人
select * from student where sid not in (select sid from score where cid in (select b.cid from course b where b.tid=(select a.tid from teacher a where a.tname='z3')));
找到上过这个课的人
select sid from score where cid in (select b.cid from course b where b.tid=(select a.tid from teacher a where a.tname='z3')) ;
找到老师所教课程
select b.cid from course b where b.tid=(select a.tid from teacher a where a.tname='z3');
找到老师编号
select tid from teacher where tname='z3'
13.

12.
先找01选了什么课, 然后找选课的同学id然后返回结果
select c.* from student c where c.sid!='01' and c.sid in (select b.sid from score b where b.cid in (select a.cid from score a where a.sid='01'));

11.
===============================
select a.* from student a
join score b on a.sid=b.sid
group by a.sid
having count(a.sid)<3;
不对
=======================================
select c.* from student c where c.sid not in (select a.sid from student a
join score b on a.sid=b.sid
group by a.sid
having count(a.sid)=3);

select a.* from student a
join score b on a.sid=b.sid
group by a.sid
having count(a.sid)=3;

10.
select a.* from student a
where a.sid in (select b.sid from score b where b.cid='01') and
a.sid not in (select c.sid from score c where c.cid='02');
9.
select a.* from student a
join score b on a.sid=b.sid and b.cid='01'
join score c on a.sid=c.sid and c.cid='02';

select a.* from student a
where a.sid in(select b.sid from score b where b.cid='01') and a.sid in (select c.sid from score c where c.cid='02');

8.
select d.* from student d where d.sid not in(
    select a.sid from student a
        join score b on a.sid=b.sid
        where b.cid in (
            select c.cid from course c where c.tid=(
                select tid from teacher where tname='z3'
            )
        )
); 

7.
select a.* from student a
join score b on a.sid=b.sid
where b.cid in (
    select c.cid from course c where c.tid=(
        select tid from teacher where tname='z3'
    )
);


select a.cid from course a where a.tid=
(select tid from teacher where tname='z3')

6.
select count(tid) from teacher where tname like 'l%';
5.
select a.sid, a.sname,count(b.cid),sum(b.sscore) from student a
join score b on a.sid=b.sid
group by a.sid;

4.
select a.sname, avg(b.sscore) as avg from student a
join score b on a.sid=b.sid
group by a.sid
having avg(b.sscore)<60
union
select a.sname, 0 as avg from student a
where a.sid not in (select distinct sid from score);



3.
select a.* from student a
join score b on a.sid=b.sid 
group by a.sid
having avg(b.sscore)>60;
2.
select a.* from student a
join score b on a.sid=b.sid and b.cid='01'
left join score c on a.sid=c.sid and c.cid='02'
where b.sscore<c.sscore;

1.
select a.*, b.sscore,c.sscore from student a 
join score b on a.sid=b.sid and b.cid='01'
left join score c on a.sid=c.sid and c.cid='02'
where  b.sscore>c.sscore;

select * from employees where hire_date=(select distinct hire_date from employees order by hire_date desc limit 2,1);
select distinct hire_date from employees order by hire_date desc limit 2,1